
#search_bar {
				text-align: center;
}
#yt_vids{
			margin: 0 auto;
			margin-left: 30%;
			margin-right: 40
				text-align: center;
}

.row h2 {
		
}

:-webkit-full-screen #ytPlayer {
  width: 100%;
  height: 100%;
}